
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dev" class = "org.example.Dev" autowire="byType" >
<!--        <property name="comp" ref="comp"/>-->
<!--        <property name="age" value="12"/>-->
<!--        <constructor-arg value="100"/>-->
    </bean>

    <bean id="comp" class="org.example.Laptop">
    </bean>

    <bean id="comp1" class="org.example.Desktop" primary="true">
    </bean>

</beans>